.gpt3__features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.gpt3__feature-heading{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
    color: violet;
}
.gpt3__feature-heading h1{
    font-family: var(--font-family);
}

.gpt3__feature-heading p{
    font-size: 14px;
    line-height: 14px;
    margin-top: 1rem;
    font-family: var(--font-family);
}
@media screen and (max-width:950px){
    .gpt3__feature-container__feature{
        display: block;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 1rem;
    }
}
@media screen and (max-width:650px){
    .gpt3__features{
        display: flex;
        flex-direction: column;
    }
    .gpt3__feature-container__feature{
        display: block;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 1rem;
    }
    .gpt3__feature-heading{
        display: flex;
    }
}