.gpt3__possibilities{
    display: flex;
    flex-direction: row;
    font-family: var(--font-family);
}
.gpt3__possibilities-image{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2rem;
}

.gpt3__possibilities-image img{
    width: 100%;
    height: 100% ;
}
.gpt3__possiblities-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.gpt3__possiblities-content h4{
    font-size: 14px;
    line-height: 16px;
    color: aquamarine;
    margin-bottom: 1rem;

}
.gpt3__possiblities-content h4:last-child{
    color: lightcoral;
    margin: .5rem 0;
}
.gpt3__possiblities-content h1{
    color: violet;
    margin: 1rem 0;
}
.gpt3__possiblities-content p{
    color: lightblue;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-family);
}

@media screen and (max-width:950px){
    .gpt3__possibilities{
        flex-direction: column;
    }
    .gpt3__possibilities-image{
        margin: 1rem 0;

    }
    .gpt3__possiblities-content{
        margin-top: 2rem;
    }
}